<div class="container mt-5 details-container" *ngIf="selectedCharacter">
  <div class="w-100 detail-info-container row m-0 mt-3 mt-sm-5">
    <div class="back-container cursor-pointer" (click)="backCharacters()">
      <mat-icon class="primary-color">arrow_back</mat-icon>
      <p class="primary-color mb-0">{{'general.backButton' | translate}}</p>
    </div>

    <div class="col-12 detail-display">
      <div class="detail-img-container">
        <img alt="details-img-preview" class="cursor-pointer" [src]="selectedCharacter?.image" />
      </div>

      <div class="detail-description-container">
        <h3 class="cursor-pointer">{{selectedCharacter.name}}</h3>

        <div class="character-container-list">
          <p><span>{{'characters.location' | translate}} :</span> {{selectedCharacter.location.name}}</p>
          <p><span>{{'characters.species' | translate}} :</span> {{selectedCharacter.species}}</p>

          <p><span>{{'characters.gender' | translate}} :</span> {{selectedCharacter.gender}}</p>
          <p><span>{{'characters.status' | translate}} :</span> {{selectedCharacter.status}}</p>
          <p><span>{{'characters.episodes' | translate}} :</span> {{selectedCharacter.episode.length}}</p>
        </div>
      </div>
    </div>
  </div>
</div>