.detail-info-container {
  min-height: 7rem;
  border-radius: 5px;
  transition: background-color 0.5s;
  background-color: var(--third-bg);
  padding: 2rem 1rem 2rem 1rem;

  table {
    span {
      color: var(--primary-color);
    }
  }
}

.character-container-list {
  p {
    font-size: 16px;
    font-weight: 400;
  }

  span {
    font-weight: 600;
  }
}

.details-container {
  padding-bottom: 1rem;
}

.detail-img-container {
  width: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  img {
    width: 100%;
    border-radius: 5px;
  }
}

.detail-display {
  display: flex;
}

.detail-description-container {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h3,
  p {
    color: var(--primary-color);
  }

  h3 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
  }
}

.back-container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  mat-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
    margin-right: 5px;
  }

  p {
    font-size: 14px;
    font-weight: 600;
    margin-top: 2px;
  }
}

@media only screen and (max-width: 530px) {
  .detail-img-container {
    width: 100%;
    height: auto;
  }

  .detail-display {
    flex-direction: column;
  }

  .detail-description-container {
    padding: 0;
    margin-top: 1rem;
    
    h3 {
      line-height: 2.4rem;
    }
  }
}
