<div class="container mt-5 characters-list-container">
  <div class="w-100">
    <h3 class="primary-color mb-5">{{'characters.title' | translate}}</h3>

    <div class="w-100 mt-4 character-list-header" *ngIf="charactersInfo">
      <app-search (searchEmitter)="getSearchData($event)"></app-search>
      <app-paginator *ngIf="activePaginator" [paginatorData]="charactersInfo" [pageIndex]="selectedPage - 1"
        (pageSelectedEmitter)="setPageIndex($event)"></app-paginator>
    </div>

    <div class="character-container">
      <div class="character-card" *ngFor="let character of charactersList" (click)="goToDetails(character)">
        <div class="character-container-image"
          [ngStyle]="{'background': 'url(' + character.image + ') no-repeat center center', 'background-size': 'cover'}">
        </div>
        <div class="character-container-data">
          <h4>{{character.name}}</h4>
          <p><span>{{'characters.location' | translate}} :</span> {{character.location.name}}</p>
          <p><span>{{'characters.species' | translate}} :</span> {{character.species}}</p>
        </div>
      </div>
    </div>
  </div>
</div>