.character-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.character-card {
  width: 100%;
  min-height: 14rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  display: grid;
  padding: 0;
  margin: 0 auto 20px auto;
  position: relative;
  text-align: center;
  border-radius: 5px;
  user-select: none;
  transition: background-color 0.5s;
  // background-color: var(--third-bg);
  align-items: center;
  cursor: pointer;
  border-radius: 9px;
  border: 1px solid rgb(0 0 0 / 20%);

  h3 {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 3rem;
  }

  h4 {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin: 12px 0 1px 0;
  }

  p {
    color: var(--primary-color);
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    text-align: initial;
    text-align: initial;
    word-break: break-word;

    span {
      font-weight: 600;
    }
  }
}

.character-container-image {
  height: 100%;
  border-radius: 9px 0px 0px 9px;
}

.character-container-data {
  height: 100%;
  padding: 10px 22px;
}

.characters-list-container {
  h3 {
    font-size: 1.4rem;
    font-weight: 700;
  }

  img {
    width: 100% !important;
    border-radius: 8px;
  }
}

.character-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 30px;
  row-gap: 20px;
  margin-top: 1.5rem;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 530px) {
  .character-container {
    margin-top: 2rem;
  }

  .character-list-header {
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .character-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 30px;
    row-gap: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .character-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
