<mat-form-field class="example-form-field" appearance="legacy">
  <mat-label>{{'general.searchLabel' | translate}}</mat-label>
  <input matInput type="text" [(ngModel)]="searchValue">
  <button class="search-button" matSuffix mat-icon-button aria-label="Search" (click)="searchData()">
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>