<div class="container mt-5 episodes-container locations-container">
    <div class="w-100">
      <h3 class="primary-color mb-5">{{'locations.title' | translate}}</h3>
  
      <div class="w-100 mt-4 character-list-header">
        <app-search (searchEmitter)="getSearchData($event)"></app-search>
        <app-paginator *ngIf="activePaginator" [paginatorData]="episodesInfo" [pageIndex]="selectedPage - 1"
          (pageSelectedEmitter)="setPageIndex($event)"></app-paginator>
      </div>
  
      <div class="w-100 mt-4 mb-4 pb-5">
        <div>
          <mat-accordion>
            <mat-expansion-panel (opened)="getEpisodesCharacters(episode)" *ngFor="let episode of episodesList">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{episode.name}}
                </mat-panel-title>
                <mat-panel-description>
                  <p><span>{{'episodes.airDate' | translate}} : </span>{{episode.air_date}}</p>
                </mat-panel-description>
              </mat-expansion-panel-header>
  
              <div class="location-characters-container">
                <h4 class="mb-2 mt-3">{{'episodes.residents' | translate}}</h4>
                <div *ngIf="episodesCharacters[episode.id]">
                  <div class="character-container" *ngFor="let character of episodesCharacters[episode.id]">
                    <div class="character-image-container"
                      [ngStyle]="{'background': 'url(' + character.image + ') no-repeat center center', 'background-size': 'cover'}">
                    </div>
                    <p (click)="goToCharacterDetails(character)" class="mb-0">{{character.name}}</p>
                  </div>
                </div>
              </div>
  
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>