<div app-theme class="app-theme-container">
  <app-header></app-header>

  <router-outlet></router-outlet>
</div>

<ngx-spinner [zIndex]="9999" type="none" bdColor="rgba(255,255,255,0.6)">
  <div class="request-loader">
    <svg class="circular" height="192" width="192">
      <circle class="path" cx="96" cy="96" r="33" fill="none" stroke-width="4" stroke-miterlimit="10" />
    </svg>
  </div>
</ngx-spinner>

