.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 3rem;
    margin: 8px 12px 12px 30px;
  }
  h3 {
    font-size: 22px;
  }
  span {
    font-weight: 400;
    letter-spacing: 1px;
  }
}

.login-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;

  span {
    font-size: 16px;
    margin-left: 16px;
    margin-right: 16px;
    font-weight: 700;
  }

  mat-icon {
    margin-left: 16px;
    margin-right: 16px;
  }

  .underline-link {
    border-bottom: 2px solid;
  }
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 6rem;

  h3,
  p {
    margin-bottom: 0;
    font-weight: 800;
  }

  h3 {
    word-spacing: -5px;
  }

  p {
    margin-top: 4px;
  }
}

.header-separator {
  background-color: var(--primary-color);
  width: 100%;
  margin: 0.5rem 0;
}

.header-transition {
  transition: background-color 0.5s;
}

.change-lan-button {
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  box-shadow: none;
}

@media only screen and (max-width: 530px) {
  .login-header-container {
    span {
      margin-left: 7px;
      margin-right: 7px;
    }
  }

  .intro-image {
    width: 21rem;
    min-height: 23rem;
  }

  .main-header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 12rem;
  }

  .options-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .m-b-sm-0 {
    margin-bottom: 0 !important;
  }

  .intro-info-container {
    padding: 0 1.5rem;
    justify-content: flex-start;
    min-height: 11rem !important;

    p {
      font-size: 14px;
    }

    h3 {
      font-size: 20px;
    }
  }

  .album-container {
    margin-top: 2rem;
  }

  .intro-image {
    padding: 0 1rem;
  }

  .intro-container {
    flex-direction: column-reverse;
  }
}
