<header class="w-100 primary-bg primary-color header-transition">
  <div class="w-100 container main-header">
    <div class="logo-container cursor-pointer" routerLink="/">
      <img class="cursor-pointer" alt="spotify-logo" src="../../../../../assets/images/public/rick-&-morty-logo4.png">
      <div>
        <h3>{{'header.title' | translate}} <span>{{'header.subtitle' | translate}}</span></h3>
      </div>
    </div>

    <hr class="header-separator show-for-mobile"/>

    <div class="mt-4 mt-sm-0 options-container">
      <div class="login-header-container">
        <span class="mr-3 custom-link cursor-pointer" routerLinkActive="underline-link" routerLink="/characters">{{'header.characters' | translate}}</span>
        <span class="mr-3 custom-link cursor-pointer" routerLinkActive="underline-link" routerLink="/locations">{{'header.locations' | translate}}</span>
        <span class="mr-3 custom-link cursor-pointer" routerLinkActive="underline-link" routerLink="/episodes">{{'header.episodes' | translate}}</span>
        <mat-icon class="cursor-pointer" [matMenuTriggerFor]="menu">settings</mat-icon>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changeLanguage()">{{'header.languageLabel' | translate}}</button>
        <button mat-menu-item (click)="toggle()">{{isDarkTheme ? ('header.lightMode' | translate) : ('header.darkMode' | translate)}}</button>
      </mat-menu>
    </div>
  </div>
</header>
