.character-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-characters-container {
  h4 {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
  }

  p {
    font-size: 15px;
    cursor: pointer;
    color: var(--primary-color);
  }
}

.character-image-container {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 1rem;
}

.character-container {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.location-box-container {
  h3 {
    font-size: 1.4rem;
    font-weight: 700;
  }

  img {
    width: 100% !important;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 530px) {
  .character-list-header {
    flex-direction: column;
  }
}
