.previous-icon {
  transform: rotate(-90deg);
  margin-right: 5px;
}

.next-icon {
  transform: rotate(90deg);
  margin-left: 5px;
}

.paginator-content {
  display: flex;
  align-items: center;

  p {
    color: var(--primary-color);
    font-size: 16px;
    padding: 5px 10px;
    margin: 0 5px;
  }
}

.page-active {
  background: #72ca12;;
  border-radius: 4px;
  color: white !important;
  font-weight: 500;
}
