<div class="paginator-content">
  <mat-icon class="primary-color mr-2 cursor-pointer" (click)="setPrevious()">arrow_back</mat-icon>
  <p class="mb-0 cursor-pointer" (click)="changePageInRange(pageNumber)"
    [ngClass]="{ 'page-active': pageNumber === pageIndex + 1 }" *ngFor="let pageNumber of getRange(pageIndex + 1)">
    {{pageNumber}}</p>
  <mat-icon class="primary-color ml-2 cursor-pointer" (click)="setNext()">arrow_forward</mat-icon>
</div>