<div class="container">
  <div class="w-100 intro-container row m-0 mt-3 mt-sm-10">
    <div class="col-12 col-md-6 into-image-container show-for-medium">
      <img src="../../../../../assets/images/public/rick-&-morty-logo2.png" class="intro-image"/>
    </div>

    <div class="col-12 col-md-6 intro-info-container">
      <h4 class="primary-color mt-4 mt-sm-0 mb-3"><span>{{'landing.title' | translate}}</span>{{'landing.titleSpan' | translate}}</h4>

      <p class="primary-color mb-4 mt-2">{{'landing.subtitle' | translate}}</p>

      <div class="display-center">
        <button class="primary-button-action" (click)="goToCharacters()">
          {{'landing.cta' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
