.header-separator {
  background-color: var(--primary-color);
  width: 100%;
  margin: 0.5rem 0;
}

.header-transition {
  transition: background-color 0.5s;
}

.change-lan-button {
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  box-shadow: none;
}

.landing-container {
  margin-top: 5rem;
}

.intro-container {
  min-height: 7rem;
  border-radius: 5px;
  transition: background-color 0.5s;
  // background-color: #252c3f;
  // background-color: var(--third-bg);
}

.intro-image {
  width: 30rem;
  min-height: 25rem;
  box-shadow: 0 2px 0px 0 rgb(0 0 0 / 8%);
}

.into-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 15rem;

  h3, h4 {
    span {
      color: #72ca12;
    }

    font-weight: 900;
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.8rem;
  }

  p {
    font-size: 16px;
    text-align: center;
  }
}

@media only screen and (max-width: 530px) {
  .intro-image {
    width: 21rem;
    min-height: 23rem;
  }

  .options-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .m-b-sm-0 {
    margin-bottom: 0 !important;
  }

  .intro-info-container {
    padding: 0 1.5rem;
    justify-content: flex-start;
    min-height: 11rem !important;

    p {
      font-size: 14px;
    }

    h3 {
      font-size: 20px;
    }
  }

  .intro-image {
    padding: 0 1rem;
    width: 18rem;
    min-height: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .intro-container {
    flex-direction: column-reverse;
  }
}
